body {
	background-color: #e6ecf0;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#header {
	background-color: black;
}

#header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: auto;
	border-bottom: 2px solid black;
}

#header ul li {
	text-align: center;
	display: inline-block;
	color: white;
	font-size: 36px;
}

#header ul li button {
	color: white;
	background-color: inherit;
	border-width: 0px;
	padding: 20px;
	font-size: inherit;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#titleContainer {
	min-width: 500px;
	width: 100%;
}

#title {
	font-size: inherit;
	margin: inherit;
	padding: 20px;
}

#change {
	margin-left: 40%;
}

#change div h3 {
	display: inline-block;
}

#change div p {
	margin: 0;
	color: red;
}

#change #changeTextContainer p {
	margin: 0;
	color: black;
}

#change #changeTextContainer p:first-child {
	margin-top: 25px;
}

#changePasswordButton {
	-webkit-appearance: button;
	font-size: 18px;
	margin-left: 80px;
	margin-top: 20px;
}

.valid {
	height: 20px;
	width: 20px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}