body{
  background-color: lightgray;
}
div#info{
    margin-left:10%;
    height:100%;
    background-color: lightgray;
}
embed{
  height: 89vh;        /* Viewport-relative units */
  width: 89vw;
  margin-top:100px;
  padding:0;
  overflow: hidden;
  position:fixed;
  background-color: lightgrey;
}