html {
	margin: 0px;
	height: 100%;
	width: 100%;
}
 
body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
}
#header {
	background-color: black;
}
svg{
	padding-top: 2%;
	position: relative;
	left: 5%;
}

#header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: auto;
	border-bottom: 2px solid black;
}

#header ul li {
	text-align: center;
	display: inline-block;
	color: white;
	font-size: 36px;
}

#header ul li button {
	color: white;
	background-color: inherit;
	border-width: 0px;
	padding: 20px;
	font-size: inherit;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#homeContainer {
}

#home {
}

#titleContainer {
	min-width: 500px;
	width: 67%;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

#title {
	font-size: inherit;
	margin: inherit;
	padding: 20px;
}

#loginContainer {
}

#login {
}

#secondHeader {
	background-color: black;
	border-top: 2px solid white ;
}

#secondHeader ul {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid black;
}

#secondHeader ul li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	width: 33%;
	min-width: 150px;
	text-align: center;
}

#secondHeader ul li button {
	color: white;
	background-color: inherit;
	border-width: 0px;
	padding: 20px;
	font-size: inherit;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
	fill: #00ffd0;
}
  
text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.node rect {
	stroke: #999;
	fill: #fff;
	stroke-width: 1.5px;
}

.edgePath path {
	stroke: #333;
	stroke-width: 1.5px;
}

/* This styles the title of the tooltip */
.tipsy .name {
	font-size: 1.5em;
	font-weight: bold;
	color: #60b1fc;
	margin: 0;
  }
  
  /* This styles the body of the tooltip */
  .tipsy .description {
	font-size: 1.2em;
  }